*{
    box-sizing: border-box;
}

/* Gestion de l'entête de présentation du photographe */

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.photograph-header img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    -o-object-fit:cover;
       object-fit:cover;
}

.descriptionUser h2{
    color: #D3573C;
    font-size: 36px;
    margin: 0;
}

.descriptionUser h3{
    color: #B74B34;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.photograph-header p{
    font-size: 12px;
}

/* Gestion du select et des options personnalisées */

.custom-sort{
    margin: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    width: 230px;
}

.custom-sort label{
    font-weight: bold;
}
 
 .custom-sort select{
    display: none;
} 

.sort-select{
    display: flex;
    position: relative;
    width: 155px;
    height: 40px;
    align-items: center;
    background-color: #901C1C;
    color: white;
    border:none;
    padding-left: 6%;
    margin-left: auto;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
}

.sort-select::after{
    content: "";
    transform: rotate(180deg);
    position: absolute;
    height: 15px;
    width: 15px;
    background-image: url("../assets/icons/arrow-sort.svg");
    background-repeat: no-repeat; 
    top: 11px;
    right: 18px;
}

.sort-select.rotate::after{
    top: 15px;
    transform: none;
}

/* Gestion des options du select */

.select_items{
    background-color: #901C1C;
    width: 155px;
    color: white;
    margin-left: auto;
    height: 80px;
    border-radius: 0 0 5px 5px;
    z-index: 5; 
}

.select_items div{
    height: 50%;
    width: 86%;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
    margin-left: 6%;
    padding-left: 3%;
}

.select_items div:hover{
    cursor: pointer;
}

.select_hide{
    display:none;
}

/* gestion de la section d'affichage des médias du photographe */

.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 100px 50px 100px;
    -moz-column-gap: 2%;
         column-gap: 2%;
    width: auto;
}

.pictures article{
    width: 100%;
    margin: 0 0 25px 0;
}

figure{
    margin: 0;
}

.pictures figure img, .pictures figure video{
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit:cover;
    cursor: pointer;
}

.heart{
    cursor: pointer;
}

.pictures figcaption{
    display: flex;
    justify-content: space-between;
    color:#901C1C;
    margin-top: 5px;
}

figcaption h3{
    margin: 0;
    align-self: center;
}

figcaption div{
    display: flex;
    align-self: center;
}

figcaption p{
    margin: 0;
    margin-right: 5px;
}

/*Gestion du petit bloc d'évaluation du photographe */ 

.rate_section{
    width: 260px;
    height: 40px;
    position: fixed;
    display: flex;
    justify-content:space-around;
    align-items: center;
    bottom: 0;
    right: 30px;
    background-color: #DB8876;
    font-size: 15px;
    font-weight: bolder;
}

.rate_div{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.fa-heart{
    margin-left: 6px;
}

/* Gestion de l'affichage de la modale de contact */ 
#contact_modal {
    display: none;
}

#contact_modal{
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    z-index: 11;
}

.contact_button {
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 130px;
    height: 40px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.send_button{
    position: absolute;
    bottom: 3vh;
}

.modal {
    position: relative;
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: left;
    height: 5vh;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 8vh 0;
}

form label {
    color: #312E2E;
    font-size: 26px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input{
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 1vh 0;
    padding: 10px;
}

form textarea{
    width: 100%;
    height: 15vh;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin: 4px 0 0 0;
    padding: 10px;
    resize: none;
}

/* Gestion de la lightbox */

.lightbox{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #E5E5E5;
    z-index: 10;
}

.close_lightbox{
    position: absolute;
    top: 8%;
    right: 6%;
    width: 4%;
    height: 4%;
    border: none; 
    color: #901C1C;
    z-index: 11;
    cursor: pointer;
}

.lightbox_prev{
    position:absolute;
    top: 50%;
    left: 6%;
    width: 4%;
    height: 6%;
    z-index: 11;
    cursor: pointer;
}

.lightbox_next{
    position:absolute;
    top: 50%;
    right: 6%;
    width: 4%;
    height: 6%;
    z-index: 11;
    cursor: pointer;
}

.pictureContainer_lightbox{
    display: flex;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    justify-content: center;
    height: 100%;
}

.media_lightbox{
    -o-object-fit:cover;
       object-fit:cover;
    height: 85%;
    border-radius: 5px;
}

.figcaption_lightbox{
    margin: 10px 0;
    color: #901C1C;
    font-weight: bold;
}

