@import url(normalize.css);
@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* Gestion de l'entête de la page */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}


/* Gestion de la section contenant les cartes de présentations des photographes */

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

/* Gestion des cartes de présentations des photographes */

.photographer_section article{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section figure{
    text-align: center;
    width: 310px;
    margin: 0 0 40px 0;
}

.photographer_section figure h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0;
}

.photographer_section figure img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit:cover;
}

.photographer_section article a{
    text-decoration: none;
}

.photographer_section figcaption h3{
    font-size: 14px;
    color: #B74B34;
    font-weight: bold;
    margin: 5px 0 5px 0;
}

.description{
    font-size: 12px;
    margin:0 0 3px 0;
}

.price{
    font-size: 11px; 
    opacity: 60%;
    margin: 0;
}